<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<style>
    body {
        background: beige;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>
<body>
<section class="our-webcoderskull padding-lg">

  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
        <% productos.forEach((producto) => { %>
      <li class="col-12 col-md-6 col-lg-12">
            <div class="product text-center"> <img src=<%= producto.imagen %> width="250">
                    <div class="about text-left px-3">
                        <h4><%= producto.nombre %></h4> <span class="text-muted"><%= producto.descripcion %></span>
                        <h3><%= producto.precio %></h3>
                    </div> <span class="dot"><span class="inner-dot"><i class="fa fa-plus"></i></span></span>
                </div>            
            </ul>
          </div>
      </li>
      <% }) %>
    </ul>
</section>
</body>
</html>
